@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,400&display=swap');

html, body {
    margin: 0;
}

#app {
    background-color: whitesmoke;
    padding: 40px 0;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
}

.tagline {
    font-style: italic;
    font-weight: 400;
}

hr {
    margin: 40px auto;
    width: 60%;
    border-top: 1px solid #ddd;
}

.video {
    width: 60%;
    margin: 0 auto;
}
